<div class="container-fluid" [ngClass]="{'Open':shareservice.isOpen==true}">

    <!-- *** Leads Panel -->
    <l-panel></l-panel>    <!-- Leads Panel *** -->
    <!-- *** Manage Resource Starts here -->
    <div class="ContentPanel CPoffset">
        <div class="row MinHyt DspTableDesk">
            <div class="ResourceMngmnt">
                <div class="col-md-12">
                    <h1>Lead Management</h1>
                </div>
                <div class="clearfix"></div>
                <form novalidate (ngSubmit)="savequote()" [formGroup]="quGroup">
                    <div class="col-lg-8 col-xs-12 col-sm-12 col-md-9 MT10">
                        <div class="form-group">
                            <h4>User Info</h4>
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <label>AutoScoop User Id</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <label>ASCUR{{quote.userId}}</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <h4>Lead Info</h4>
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <label>Lead Id</label>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 MT5Mob MT10 PR0Mob">
                                <label>ASCLD{{quote.carSearchId}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <label>Lead Generation Date</label>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 MT5Mob MT10 PR0Mob">
                                <label>{{quote.creationDate}}</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <h4>Offer Details</h4>
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <label>Quote Id</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 MT5Mob MT10 PR0Mob">
                                <label>ASCQT{{quote.quotId}}</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group" formGroupName="quoteGroup">
                            <div class="col-md-4 col-sm-4 col-xs-12 PL0 PR0Mob MT5Mob MT5">
                                <input type="number" min="0" class="form-control" placeholder="Offer drive away price" formControlName="driveAwayPrice" title="Offer drive away price">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 PL0 PR0Mob MT5Mob MT5">
                                <input type="number" min="0" class="form-control" placeholder="Actual value of offer" formControlName="offerPrice3" title="Actual value of offer">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 PL0 PR0Mob MT5Mob MT5">
                                <input type="number" min="0" class="form-control" placeholder="Saving through AutoScoop" formControlName="offerPrice2" title="Saving through AutoScoop">
                            </div>
                        </div>
                        <div class="form-group" formGroupName="quoteGroup">
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                               <label>Offer End Date</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="date" class="form-control" title="Offer End Date" formControlName="regoEndDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group" formGroupName="quoteGroup">
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <div class="input-group date" id="datetimepicker1">
                                    <label>Quotation Valid Date</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="date" class="form-control" formControlName="offerValidDate" title="Quotation valid date" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group" formGroupName="quoteGroup">
                            <h4>Make Details</h4>
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <input type="text" class="form-control" placeholder="AutoScoop stock number" formControlName="autoscpStockNo" title="AutoScoop stock number">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 MT5Mob MT10 PR0Mob">
                                <input type="checkbox" placeholder="AutoScoop stock " formControlName="stockTillAvail" title="AutoScoop stock">
                                <label for="newCar">Stock till Available</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group" formGroupName="quoteGroup">
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <input type="text" class="form-control" placeholder="Dealer stock number" formControlName="dealStockNo" title="Dealer stock number">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 MT5Mob MT10 PR0Mob">

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group" formGroupName="quoteGroup">
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 PR0Mob MT10">
                                <select class="form-control" formControlName="modelYear" (change)="onyearselect($event.target.value)">
                                    <option [ngValue]="null">Year</option>
                                    <option [value]="2017">2017</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 MT5Mob MT10 PR0Mob">
                                <select class="form-control" formControlName="modelDisplay" (change)="onmakeselect($event.target.value)">
                                    <option [ngValue]="null">Make</option>
                                    <option *ngFor="let mke of makes" [value]="mke">{{mke}}</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group" formGroupName="quoteGroup">
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 MT5Mob MT10 PR0Mob">
                                <select class="form-control" formControlName="modelName">
                                    <option [ngValue]="null">Model</option>
                                    <option *ngFor="let mdl of models" [value]="mdl">{{mdl}}</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 PL0 MT5Mob MT10 PR0Mob">
                                <select class="form-control" formControlName="modelTrim">
                                    <option [ngValue]="null">Autoscoop Trim</option>
                                    <option *ngFor="let trim of autotrims" [value]="trim">{{trim}}</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12">
                            <h4>Additions</h4>
                            <a class="btn btn-primary Details AddNew" (click)="adddetails('details')"><span></span>Add</a>
                        </div>
                        <div class="col-md-12 MT5">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered M0 table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Details</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of quote.vehQuotExtras let indx = index">
                                            <td>{{indx+1}}</td>
                                            <td><input type="text" name="dtls{{indx}}" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.extras1" title="Quantity"></td>
                                            <td><input type="text" name="qty{{indx}}" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.extras2" title="Quantity"></td>
                                            <td><input type="text" name="amt{{indx}}" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.amount" title="Price"></td>
                                            <td>
                                                <a (click)="deletedetails(indx, quote.vehQuotExtras)"><span class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>
                                        <tr *ngIf="!quote.vehQuotExtras"><td>No records found.</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 MT10">
                            <h4>Appointment Dates</h4>
                            <a class="btn btn-primary Details AddNew" (click)="adddetails('dates')"><span></span>Add</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 MT5">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered M0 table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of quote.offerDateList let indx = index">
                                            <td>{{indx+1}}</td>
                                            <td class="input-group date"><input type="date" name="dtls{{indx}}" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.offerDate" title="Quantity"></td>
                                            <td>
                                                <a (click)="deletedetails(indx, quote.vehQuotExtras)"><span class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>
                                        <tr *ngIf="!quote.offerDateList"><td>No records found.</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 MT10">
                            <h4>Documentation Required</h4>
                            <a class="btn btn-primary Details AddNew" (click)="adddetails('docs')"><span></span>Add</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 MT5">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered M0 table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Details</th>
                                            <!--<th>type</th>-->
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of quote.vehQuotDoc let indx = index">
                                            <td>{{indx+1}}</td>
                                            <td><input type="text" name="dtls{{indx}}" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.extras1" title="Quantity"></td>
                                            <!--<td><input type="text" name="qty{{indx}}" class="form-control" [(ngModel)]="{{item.quantity}}" title="Quantity"></td>
                                            <td><input type="text" name="amt{{indx}}" class="form-control" [(ngModel)]="{{item.amount}}" title="Price"></td>-->
                                            <td>
                                                <a (click)="deletedetails(indx, quote.vehQuotExtras)"><span class="glyphicon glyphicon-trash"></span></a>
                                            </td>

                                        </tr>
                                        <tr *ngIf="!quote.vehQuotDoc"><td>No records found.</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 MT10">
                            <h4>Terms & Conditions</h4>
                            <a class="btn btn-primary Details AddNew" (click)="adddetails('terms')"><span></span>Add</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 MT5">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered M0 table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Details</th>
                                            <!--<th>type</th>-->
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of quote.vehQuotTerm let indx = index">
                                            <td>{{indx+1}}</td>
                                            <td><input type="text" name="dtls{{indx}}" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.extras1" title="Quantity"></td>
                                            <td><input type="text" name="qty{{indx}}" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.extras2" title="Quantity"></td>
                                            <td><input type="text" name="amt{{indx}}" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.amount" title="Price"></td>
                                            <td>
                                                <a (click)="deletedetails(indx, quote.vehQuotExtras)"><span class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>
                                        <tr *ngIf="!quote.vehQuotTerm"><td>No records found.</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PL0 PR0Mob MT20 MB20">

                            <button class="btn btn-primary Details" [disabled]="quGroup.invalid" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Add Resource Ends here *** -->
            <!-- *** Recent Accounts Starts here -->
            <div class="RecentPanel">
                <div class="col-md-12">
                    <h1>your recent accounts</h1>
                    <!--<div class="Accounts" *ngFor="let res of resources">
                        <h2 class="MT10">{{res.contactDetails.contactPerson}} {{res.contactDetails.lastName}}</h2>
                        <p>
                            <label>Employee Id</label>
                            <span>{{res.employeeCode}}</span>
                        </p>
                        <p>
                            <label>Designation</label>
                            <span>
                                {{res.contactDetails.designation}}
                            </span>
                        </p>
                        <button class="btn btn-primary Details">Details</button>
                    </div>-->
                </div>
            </div>
            <!-- Recent Accounts Ends here *** -->

        </div>

        <!-- *** footer -->
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 footer MT0">
                <p class="Txt999">Copyright 2017 © By AUTOSCOOP All Rights Reserved.</p>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2>AUTOSCOOP</h2>
                        <p>123 6th St. West Chicago, IL 60185 </p>
                    </div>
                    <div class="col-md-6 col-sm-5 col-xs-12">
                        <h2>Follow us on</h2>
                        <a href="javascript:void()"><span class="flaticon-social"></span><span>facebook</span></a> <a href="javascript:void()"><span class="flaticon-twitter-logo"></span><span>twitter</span></a> <a href="javascript:void()"><span class="flaticon-google-plus"></span><span>google plus</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer *** -->

    </div>
    <!-- *** Offerings Starts here -->

</div>
